body{
    padding:0;
}
#image{
    width:900px;
    height: 300px;
    padding:10px;
    margin:auto;
    text-align: center;
    position:relative
   
}
#image img{
    height: 100%;
    width: 100%;
    ;
    

}
#image h2{
    position: absolute;
    width:100%;
    left:0;
    right: 0;
    background-color: rgba(1,1,1,1);
    color: white;
    top:50%;
   
}